/* style.css */
* {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: #99CCAA;
}

.card {
    width: 800px;
    margin: 16px auto;
    padding: 8px;
    display: block;
    font-size: 40px;
    color: purple;
    text-align: center;
  }

.card2 {
    width: 800px;
    margin: 8px auto;
    padding: 8px;
    display: block;
    color: purple;
    text-align: center;
}
  
  .title {
    font-size: 24px;
  }
  
  .content {
    display: inline-block;
    font-size: 24px;
    margin: 5px;
  }
  
  .container {
    text-align: center;
    padding: 8px;
    margin: 0px;
  }

  img {
    border-radius: 3%
  }
